<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <!--
  Filename: About.ejs
  Date:10/02/2023
  Name: Abhishek Narang
  Student Number: 301271921
  COMP229-Assignment 1
-->
    <!--bottom nav-->
    <p class="about"> 
      <img src="/img/profile.jpeg" alt="Profile Picture" width="300px" style="float: right;">
      Hello, I'm Abhishek Narang. I believe in the power of passion, hard work, and <br>
      continuous learning. My journey has been shaped by a thirst for knowledge and a <br>
      commitment to personal growth. As a dedicated student, I've honed my skills in various <br>
      fields, from academics to extracurricular pursuits.
      <br><br>
      I'm driven by a curiosity that fuels my desire to explore new horizons and take on challenges <br>
      with enthusiasm. Whether it's delving into complex problems or collaborating with diverse teams, <br>
      I thrive on pushing boundaries and exceeding expectations.
      <br><br>
      My goal is to make a meaningful impact in every endeavor I undertake, combining creativity and <br>
      analytical thinking to find innovative solutions. I'm excited about the opportunities ahead and eager <br>
      to connect with like-minded individuals who share a passion for excellence and a vision for a brighter future. <br>
      <br><br>
      Thank you for visiting my portfolio and getting to know a bit about me. If you'd like to connect or learn more about <br>
      my experiences and aspirations, please feel free to reach out.
      <br>
      Here's the pdf version of my <a href="https://docs.google.com/document/d/1OMiD5k7UK8ykG6WiJvQh-OBYXN9wtE71/edit?usp=drive_link">resume.</a> <br><br>
      Let's embark on this journey together, <br>
      Abhishek Narang <br>
      </p>

      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   