<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--
  Filename: Index
  Date: 10/02/2023
  Name: Abhishek Narang
  Student ID: 301271921
  COMP229-Assignment 1
-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <!--bottom nav-->
    <p class="about">
      <img src="/img/profile.jpeg" alt="Profile Picture" width="300px" style="float: right;">
      Welcome to my student portfolio website! <br>
      <br>
      I'm delighted to have you here, and I invite you to embark on a journey through my <br>
      <br>
      academic and creative pursuits. This digital space is a reflection of my educational <br>
      experiences, personal growth, and the unique blend of passions that drive me. <br>
      <br>
      As you explore my portfolio, you'll find a diverse range of projects, assignments, <br>
      and achievements that highlight my dedication to learning and my commitment to excellence. <br>
      From research papers to design projects, each entry represents a step in my academic <br>
      and personal development. <br>
      Feel free to browse through my work, learn more about my educational background and interests, <br>
      and connect with me if you'd like to discuss collaborations, share ideas, or simply engage in <br>
      a conversation about the topics that inspire us both. <br>
      <br> 
      Thank you for visiting, and I hope my portfolio provides you with insight <br>
      into my academic journey and sparks your curiosity. Together, let's celebrate <br>
      the pursuit of knowledge and creativity. <br>
      Warm regards, <br> <br>
      Abhishek Narang 
    </p>   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   