<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--
  Filename: Products
  Date:10/02/2023
  Name: Abhishek Narang
  Student Number: 301271921
  COMP229-Assignment 1
-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <hr>
        <div class="properties_t">
            <h3>
              Web Interface Design ( HTML / CSS )	
            </h3>
            <img src="img/project1.jpg" alt="Web Interface Design Image" width="320">
            <p class="properties_tumb"> 
              <li>	Design and developed a website using HTML and CSS, where a real estate agent could list the properties.</li>
              <li>	Users could also submit a form, mentioning their requirement for the property they are looking for</li>
              <br>
            </p>
          </div>
        <br>
        <div class="properties_t">
            <h3>
              Calculator ( C# / Windows Forms )
            </h3>
            <img src="img/project2.png" alt="Property 2 Image" width="320">
            <p class="properties_tumb"> 
              <li>  Developed a simple calculator where users could easily perform Arithmetic Functions.
              <li>	Used windows Forms to allow the users to perform the calculations with a User-friendly interface, enhancing their overall experience of using the app
              
            </p>
        </div>
        <br>
        <div class="properties_t">
            <h3>
              Software Requirements Engineering
            </h3>
            <img src="img/project3.jpg" alt=" 3 Image" width="320">
            <p class="properties_tumb"> 
              <li>	Collaborated on developing a SRS Document for an interactive timetable application which helps students in finding their classes, Registering for courses etc.
              <li>	Worked with a team of four and used agile methodologies.
            </p>
          <br>
        </div>
    
    <!--bottom nav-->
    
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   