<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--
  Filename: Services
  Date: 10/02/2023
  Name: Abhishek Narang
  Student Number: 301271921
  COMP229-Assignment 1
-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <section class="services">
      <h2>My Services</h2>
      <div class="service-item">
          <img src="img/webdevelopment.gif" alt="Web Development" width="200px" style="float: right ;">
          <h3>Web Development</h3>
          <p>I can create responsive and user-friendly websites using HTML, CSS, and JavaScript. Whether you need a personal blog or a business website, I've got you covered.</p>
      </div>

      <div class="service-item">
        <img src="img/software.jpeg" alt="Software Development" width="200px" style="float: right ;">
          <h3>Software Development</h3>
          <p>From desktop applications to mobile apps, I can develop software solutions that meet your needs. I'm proficient in languages like Java, Python, and C++.</p>
      </div>

      <div class="service-item">
        <img src="img/dbdesign.gif" alt="Web Development" width="200px" style="float: right ;">
          <h3>Database Design</h3>
          <p>I can design efficient and scalable databases using SQL and NoSQL technologies. Proper database design is crucial for the performance of your applications.</p>
      </div>
  </section>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   